language: cpp
compiler: 
    - gcc
notifications:
    email: false
before_install:
    - sudo add-apt-repository ppa:staticfloat/julia-deps -y
    - sudo add-apt-repository ppa:staticfloat/julianightlies -y
    - sudo apt-get update -qq -y
    - sudo apt-get install julia -y
    - git config --global user.name "Travis User"
    - git config --global user.email "travis@example.net"
script:
    - julia -e 'versioninfo();Pkg.init();'
    - julia -e 'Pkg.add("Calculus");Pkg.add("Distributions");Pkg.add("Options");Pkg.add("DualNumbers")'
    - mkdir -p ~/.julia/Optim
    - cp -R ./* ~/.julia/Optim/
    - julia ./test/runtests.jl
