name: Benchmark a pull request

on:
  pull_request_target:
    branches:
      - master
permissions:
  pull-requests: write    # needed to post comments

jobs:
  bench:
    runs-on: ubuntu-latest
    steps:
      - uses: MilesCranmer/AirspeedVelocity.jl@action-v1
        with:
          julia-version: '1'
          enable-plots: true
          exeflags: '-O3 --threads=auto'
