name: Benchmark a pull request

on:
  pull_request_target:
    branches:
      - master
permissions:
  pull-requests: write    # needed to post comments

jobs:
  bench:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        julia:
          - 'lts'
          # TODO: Enable when https://github.com/MilesCranmer/AirspeedVelocity.jl/issues/113 is fixed
          # - '1'
    steps:
      - uses: MilesCranmer/AirspeedVelocity.jl@action-v1
        with:
          julia-version: '${{ matrix.julia }}'
          enable-plots: true
          exeflags: '-O3 --threads=auto'
